#chat {
    -webkit-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 1);
    color: black;
    text-align: left;
    position: relative;
    float: left;
    width: 15%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#big_chat {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
    float: left;
}

#chat.big_chat {
    width: 35%;
    height: 60%;
}

#content_chat {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#content_chat * {
    float: left;
    font-size: 11px;
}

.info_chat {
    margin: 10px;
    color: rgb(162, 36, 36);
    font-weight: bold;
}

.div_chat {
    padding: 2px;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#C4C4C4));
    background: -moz-linear-gradient(top, white, #C4C4C4);
    width: 100%;
    position: relative;
    border: 1px solid black;
    border-top: none;
    overflow: hidden;
    float: left;
}

#submit_chat {
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

#usermsg {
    margin-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    width: 50%;
    max-width: 100%;
    min-width: 100px;
    min-height: 20px;
    max-height: 100px;
    height: 35px;
    float: left;
}

.time_chat {
    margin-right: 5px;
}

.name_chat {
    font-weight: bold;
    margin-right: 5px;
}

.message_chat {

}