<html>
<head>
    <title>Canvas3D test</title>
    <script src="{{ asset('bundles/minedochome/js/canvas3d/c3dl/c3dapi.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/minedochome/js/game.js') }}" type="text/javascript"></script>
</head>
<body>
<!-- Add a canvas element to the page. It is scripted by using its id -->
<canvas id="tutorial" style="border: 2px solid blue" width="500" height="500"></canvas>
</body>
</html>